/* You can add global styles to this file, and also import other style files */

@use "colors";

a {
  color: colors.$accent-color;

  &:hover {
    color: colors.$accent-color;
  }

  &:visited {
    color: colors.$accent-color;
  }
}

// Themes
.invert {
  filter: invert(1) hue-rotate(180deg);
}

.dark-mode {
  @extend .invert;

  img, picture, video {
    @extend .invert;
  }
}

.sidebar {
  height: calc(100vh - 56px);
}

.h-66 {
  height: 66%;
}

.w-66 {
  width: 66%;
}
