/* You can add global styles to this file, and also import other style files */

// Variables
$accent-color: #6aa84f;

a {
  color: $accent-color;

  &:hover {
    color: $accent-color;
  }

  &:visited {
    color: $accent-color;
  }
}

// Themes
.invert {
  filter: invert(1) hue-rotate(180deg);
}

.dark-mode {
  @extend .invert;

  img, picture, video {
    @extend .invert;
  }
}
