/* You can add global styles to this file, and also import other style files */

// Variables
$accent-color: #6AA84F;

a {
  color: $accent-color;

  &:hover {
    color: $accent-color;
  }

  &:visited {
    color: $accent-color;
  }
}
