<main class="container mt-4 w-50">
  <form>
    <div class="form-group">
      <label for="help" class="h4">What do you need help with?</label>
      <select id="help" class="custom-select custom-select-lg">
        <option>I want to find a trade idea.</option>
        <option>I want to learn about a concept.</option>
        <option>Should I invest in X?</option>
        <option>Should I exit my position?</option>
        <option>What strategy should I use?</option>
      </select>
    </div>
  </form>
</main>
