.symbol-input {
  width: 5em;
}

.buy-sell-select {
  width: 5em;
}

.quantity-input {
  width: 6em;
}

.strategy-select {
  width: 6em;
}

.expiration-input {
  width: 10em;
}

.strike-input {
  width: 5em;
}

.price-input {
  width: 5em;
}
