<main class="container">
  <!-- Adviser -->
  <div class="jumbotron jumbotron-fluid p-4 mb-2">
    <div class="container">
      <h2 class="h2 text-center">Need ideas? <a [routerLink]="['adviser']">Get investing advise.</a></h2>
      <p class="lead text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, quidem enim id animi, quod sunt quis beatae alias libero.</p>
    </div>
  </div>

  <!-- News -->
  <div id="news" class="mt-2">
    <a class="news-block d-inline-block mb-3">
      <img class="news-thumbnail float-left pr-3" src="https://s.yimg.com/it/api/res/1.2/ltD0FFYSjbg5lS0rEZCSGg--~A/YXBwaWQ9eW5ld3M7c209MTt3PTgwMA--/https://media.zenfs.com/en/bloomberg_markets_842/b412ede87a1db179725c0d8a34655faf">
      <div>
        <h5>U.S. Stock Futures Slip After Presidential Debate: Market Wrap</h5>
          <p>(Bloomberg) -- U.S. equity-index futures dropped alongside most stock markets after an
            acrimonious American presidential debate highlighted the risk of a contested vote in...</p>
      </div>
    </a>
    <a class="news-block d-inline-block mb-3">
      <img class="news-thumbnail float-left pr-3"
           src="https://s.yimg.com/it/api/res/1.2/ltD0FFYSjbg5lS0rEZCSGg--~A/YXBwaWQ9eW5ld3M7c209MTt3PTgwMA--/https://media.zenfs.com/en/bloomberg_markets_842/b412ede87a1db179725c0d8a34655faf">
      <div>
        <h5>U.S. Stock Futures Slip After Presidential Debate: Market Wrap</h5>
          <p>(Bloomberg) -- U.S. equity-index futures dropped alongside most stock markets after an
            acrimonious American presidential debate highlighted the risk of a contested vote in...
          </p>
      </div>
    </a>
    <a class="news-block d-inline-block mb-3">
      <img class="news-thumbnail float-left pr-3"
           src="https://s.yimg.com/it/api/res/1.2/ltD0FFYSjbg5lS0rEZCSGg--~A/YXBwaWQ9eW5ld3M7c209MTt3PTgwMA--/https://media.zenfs.com/en/bloomberg_markets_842/b412ede87a1db179725c0d8a34655faf">
      <div>
        <h5>U.S. Stock Futures Slip After Presidential Debate: Market Wrap</h5>
          <p>(Bloomberg) -- U.S. equity-index futures dropped alongside most stock markets after an
            acrimonious American presidential debate highlighted the risk of a contested vote in...
          </p>
      </div>
    </a>
    <a class="news-block d-inline-block mb-3">
      <img class="news-thumbnail float-left pr-3"
           src="https://s.yimg.com/it/api/res/1.2/ltD0FFYSjbg5lS0rEZCSGg--~A/YXBwaWQ9eW5ld3M7c209MTt3PTgwMA--/https://media.zenfs.com/en/bloomberg_markets_842/b412ede87a1db179725c0d8a34655faf">
      <div>
        <h5>U.S. Stock Futures Slip After Presidential Debate: Market Wrap</h5>
          <p>(Bloomberg) -- U.S. equity-index futures dropped alongside most stock markets after an
            acrimonious American presidential debate highlighted the risk of a contested vote in...
          </p>
      </div>
    </a>
    <a class="news-block d-inline-block mb-3">
      <img class="news-thumbnail float-left pr-3"
           src="https://s.yimg.com/it/api/res/1.2/ltD0FFYSjbg5lS0rEZCSGg--~A/YXBwaWQ9eW5ld3M7c209MTt3PTgwMA--/https://media.zenfs.com/en/bloomberg_markets_842/b412ede87a1db179725c0d8a34655faf">
      <div>
        <h5>U.S. Stock Futures Slip After Presidential Debate: Market Wrap</h5>
          <p>(Bloomberg) -- U.S. equity-index futures dropped alongside most stock markets after an
            acrimonious American presidential debate highlighted the risk of a contested vote in...
          </p>
      </div>
    </a>
  </div>
</main>
