@use "../../colors";

a {
  &:hover {
    cursor: pointer;
  }
}

#userDropdown {
  color: #aaa;
}

.btn-outline-secondary {
  border-color: colors.$accent-color;
  color: colors.$accent-color;

  &:hover, &:active, &:focus {
    background: none !important;
    $hover-color: darken(colors.$accent-color, 10%);
    border-color: $hover-color;
    color: $hover-color !important;
    box-shadow: inset 0 0 2px colors.$accent-color;
  }
}
