<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container d-flex">
      <a class="navbar-brand" [routerLink]="['/']">
        <span style="color:#93c47d;">Investing</span><span style="color:#d8b995;">Oak</span>
      </a>

      <form class="form-inline flex-grow-1">
        <div class="input-group flex-fill">
          <input class="form-control" type="search"
                 placeholder="Search for a symbol or company" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit"><fa-icon [icon]="search"></fa-icon></button>
          </div>
        </div>
      </form>

      <app-user-menu></app-user-menu>
    </div>

    <div class="container">
      <ul class="nav justify-content-start">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['adviser']">Adviser</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['screener']">Screener</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['watchlist']">Watchlist</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['paper']">Paper Trading</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
